<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/global.css">
    <link rel = "stylesheet" type="text/css" href = "/css/feed.css">
    <title>FoxChatter Newsfeed</title>
    <meta charset="utf-8"/>

  </head>
  <body>
    <header>
      <!--Site Name-->
      FoxChatter
      <!--MyMarist Portal-->
      <div id="portal_button">
        <img src="/images/redfox.png" id = "redfox"> MyMarist
        
      </div>
       <div id="newsfeed"></div>

    </header>
    <main>
       <div id="newsfeed">Feed will go here.</div>
    </main>
    <footer>
      <p id="site_info">Copyright &copy; 2020: Marist College est. 1929</p>
    </footer>
    <p id="fade_text">Click here or press spacebar to go to Home</p>

    <script src="/js/global.js"></script>
    <script src="/js/feed.js"></script>
  </body>
</html>
